<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
    <link rel="icon" type="image/svg+xml" href="/static/media/logos/favico.png">
    <link href="https://fonts.googleapis.com/css2?family=Arial:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" rel="stylesheet" />
    <link rel="stylesheet" href="/static/stylesheets/common/main.css">
    <link rel="stylesheet" href="/static/stylesheets/common/restricted/sidebar.css">
    <link rel="stylesheet" href="/static/stylesheets/common/restricted/navbar.css">
    <link rel="stylesheet" href="/static/stylesheets/common/restricted/main.css">
<% if (typeof styles !== 'undefined') { %>
        <% styles.forEach(style => { %>
            <link rel="stylesheet" href="/static/stylesheets/<%= style %>">
        <% }); %>
    <% } %>
</head>
<body>
<%- include('../partials/restricted/navigation/navbar.ejs') %>

<div class="main-container">
    <%- include('../partials/restricted/navigation/sidebar.ejs') %>

    <main class="content">
        <%- body %>
        <!-- Toast container -->
        <div class="toast-container" id="toastContainer"></div>
    </main>
</div>

<script src="/static/scripts/common/main.js"></script>
<script src="/static/scripts/common/sidebar.js"></script>
<script src="/static/scripts/common/restricted/main.js"></script>

<% if (typeof scripts !== 'undefined') { %>
    <% scripts.forEach(script => { %>
        <script src="/static/scripts/<%= script %>"></script>
    <% }); %>
<% } %></body>
</html>