<div class="login-container">
    <div class="welcome-header animate-fade-in">
        <h1><%= __('common.welcome') %> <%= __('common.back') %></h1>
        <p class="subtitle"><%= __('auth.loginTitle') %></p>
        <div class="divider"></div>
    </div>

    <% if (typeof error !== 'undefined' && error) { %>
        <div class="error-alert animate-shake">
            <span class="material-symbols-outlined">error</span>
            <span><%= error %></span>
        </div>
    <% } %>
    
    <% if (typeof query !== 'undefined' && query.registered) { %>
        <div class="success-alert animate-fade-in">
            <span class="material-symbols-outlined">check_circle</span>
            <span><%= __('labels.registrationSuccessful') %></span>
        </div>
    <% } %>

    <form class="auth-form animate-slide-up" action="/api/auth/login" method="post">
        <div class="form-group">
            <label for="username"><%= __('user.username') %> <span style="color: var(--blood-red);">*</span></label>
            <input
                    type="text"
                    id="username"
                    name="username"
                    class="form-control"
                    placeholder="<%= __('user.username') %>"
                    value="<%= typeof username !== 'undefined' ? username : '' %>"
            >
            <div class="error-message"></div>
        </div>

        <div class="form-group">
            <label for="password"><%= __('auth.password') %> <span style="color: var(--blood-red);">*</span> </label>
            <div class="password-input-container">
                <input
                        type="password"
                        id="password"
                        name="password"
                        class="form-control"
                        placeholder="<%= __('auth.password') %>"
                >
                <button type="button" class="toggle-password" aria-label="Toggle password visibility">
                    <span class="material-symbols-outlined password-icon">
                        visibility
                    </span>
                </button>
            </div>
            <div class="error-message"></div>
        </div>

        <button type="submit" class="btn btn-primary btn-signin">
            <%= __('auth.loginButton') %>
            <span class="material-symbols-outlined confirm-icon">
                arrow_forward
            </span>
        </button>
    </form>
    <div style="text-align: center">
        <a href="/auth/forgot-password" class="forgot-password">
            <%= __('auth.forgotPassword') %>
        </a>
    </div>
</div>

<script src="/static/scripts/pages/auth/login.js" defer></script>